.red {
	background-color: red;
	color: white;
}
.black {
	background-color: black;
	color: white;
}
.brown {
	background-color: #572b04;
	color: white;
}
.orange {
	background-color: orange;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
	color: white;
}
.blue {
	background-color: blue;
	color: white;
}
.violet {
	background-color: violet;
}
.gray {
	background-color: gray;
}
.white {
	background-color: white;
}
.silver {
	background-color: #b3b3b3;
}
.gold {
	background-color: #a3a039;
	color: white;
}